<%= link_to "基本資料", edit_user_registration_path, {:style => "width: 100px;height: 30px" } %>
</p></br>
<%= link_to "個人打卡", my_hourse_path, {:style => "width: 100px;height: 30px" } %>
</p></br>
<%= link_to "團隊打卡", team_hourse_path, {:style => "width: 100px;height: 30px" } %>
