
<table style="width: 160px;text-align: left;font-size: 15px; letter-spacing: 0.1px;margin-bottom: 10px">
  <tr>
    <td><%= @date %></td>
    <td style="color: red"><%= @time %></td>
  </tr>
</table>

